{% extends 'base.html' %}
{% block content %}


<section class="py-5 container">
    <div class="row py-lg-5 text-center">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Our Blogs</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                entirely.</p>
        </div>
    </div>

    <ul class="row">
        {% for category in categories %}
        <li><a href="#">{{category.category}}</a> - {{format_date(category.date)}}</li>
        {% endfor %}
    </ul>
</section>

{% endblock %}